@page "/EditApoteker/{Id}"
@using ApotekXYZ.Data
@inject ApotekerService apotekerService
@inject NavigationManager NavigationManager

<h2>Edit Apoteker</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input form="Name" class="form-control" @bind="@obj.kodeApoteker" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Nama Apoteker</label>
                <input form="Name" class="form-control" @bind="@obj.namaApoteker" />
            </div>
            <div class="form-group">
                <label for="Designation" class="control-label">Tanggal Lahir</label>
                <input type="date" form="Designation" class="form-control" @bind="@obj.tanggalLahir" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateApoteker" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Apoteker obj = new Apoteker();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => apotekerService.GetEmployeeAsync(Id));
    }
    protected async void UpdateApoteker()
    {
        await apotekerService.UpdateEmployeeAsync(obj);
        NavigationManager.NavigateTo("ApotekerData");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("ApotekerData");
    }
}