@page "/TransaksiData"
@using ApotekXYZ.Data
@inject TransaksiService transaksiService

<NavLink class="nav-link" href="AddTransaksi">
    <span class="oi oi-plus" aria-hidden="true">Add New</span>

</NavLink>

<h1>Transaksi Info</h1>
@if (EmpObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Transaksi ID</th>
                <th>Kode Obat</th>
                <th>Jumlah Jual</th>
                <th>Kode Apoteker</th>
                <th>Tanggal Beli</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in EmpObj)
            {
                <tr>
                    <td>@emp.idTransaksi</td>
                    <td>@emp.kodeObat</td>
                    <td>@emp.jumlahJual</td>
                    <td>@emp.kodeApoteker</td>
                    <td>@emp.tanggalBeli.ToShortDateString()</td>
                    <td>
                        <a class="nav-link" href="EditTransaksi/@emp.idTransaksi">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="DeleteTransaksi/@emp.idTransaksi">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Transaksi> EmpObj;
    protected override async Task OnInitializedAsync()
    {
        EmpObj = await Task.Run(() => transaksiService.GetAllEmployeesAsync());
    }
}